<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<br />

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Test Type </th>
      <th>Conducted Date</th>
      <th>
        <div class="col-md-3">Show</div>
        <div class="col-md-3">Delete</div>
      </th> 
    </tr>
  </thead>
  <tbody>
    <% @patient_profile.medical_reports.each do |report| %>
    <tr class="info">
      <td> <%= report.title %></td>
      <td> 
        <%= report.prescription ? "Prescription" : "Test"%> 
      </td>
      <td>
        <%= report.report_date %>
      </td>
      <td>
        <div class="col-md-3">
          <div class="round round-lg hollow ">
            <span>
              <%= link_to "" , patient_profile_medical_report_path(@patient_profile , report), class: "glyphicon glyphicon-file"%>
            </span>
          </div>
        </div>
        <div class="col-md-3">
          <% if current_user.patient?%>
            <div class="round round-lg hollow green">
              <span>
                <%= link_to "",  patient_profile_medical_report_path(@patient_profile , report), method: :delete, class: "glyphicon glyphicon-trash" %>
              </span>
            </div>
          <%end%>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "" , new_patient_profile_medical_report_path(@patient_profile) ,class: "fa fa-medkit fa-3x" %>
