<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<br />

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Tile</th>
      <th>Report Date</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    <% @patient_profile.medical_reports.each do |report| %>
      <tr>
        <td> <%= report.title %></td>
        <td> <%= report.report_date %></td>
        <td><%= link_to "Show" , patient_profile_medical_report_path(@patient_profile , report)%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Add a report here" , new_patient_profile_medical_report_path(@patient_profile) ,class: "btn btn-primary" %>
