<% if !@medical_report.errors.empty? %>
  <div class = "alert alert-error">   
    <ul>
      <% @medical_report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% if current_user.patient? %>
  <h1>Add your report here</h1>
  <%= simple_form_for [@patient_profile , @medical_report] do |f|%>
    <%= f.input :title %>
    <%= f.input :report_date%>
    <%= f.input :attachment, as: :file %>
    <%= f.submit%>
  <% end %>
  <% else %>
    <h2>add a report</h2>
    <%= simple_form_for  [@patient_profile , @medical_report] do |f|%>
      <%= f.input :patient_profile_id , as: :hidden %>
      <%= f.input :title %>
      <%= f.input :report_date%>
      <%= f.input :attachment, as: :file %>
      <%= f.submit%>
    <% end %>
<% end %>