<h1>Book an appointment with <%= @consultation.doctor_profile.user.name %></h1>

<%= simple_form_for @consultation do |f|%>
  <%= f.input :doctor_profile_id, as: :hidden %>
  <%= f.input :patient_profile_id, as: :hidden %>
  <%= f.input :appointment_date, as: :date, html5: true %>
  <%= f.input :comments %>

  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>



