<h1>List of Doctors</h1>
<% if @doctor_profile.any?%>
  <% @doctor_profile.each do |doctor|%>
    <ul class = "well">
      <li><%= doctor.user_id %></li>
      <li><%= doctor.qualification %></li>
      <li><%= doctor.age %></li>
       <li><%= doctor.contact %></li>
      <li><%= link_to "Book a Consultation" , new_consultation_path(id: doctor.user_id)%></li>
    </ul>
  <% end %>
<% end %>