<section class="team">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
          <h6 class="description">OUR TEAM</h6>
          <div class="row pt-md">
            <% if @doctor_profiles.any?%>
              <% @doctor_profiles.each do |doctor|%>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                  <div class="img-box">
                    <%= gravatar_tag current_user.email, size: 200 %>
                    <ul class="text-center">
                      <li><%= fa_icon "facebook" %></li>
                      <li><%= fa_icon "twitter" %></li> 
                      <li><%= fa_icon "linkedin" %></li>
                    </ul>
                  </div>
                  <h1><%= doctor.user.name %></h1>
                  <h2><%= doctor.qualification %></h2>
                  <p>Phone: <%= doctor.contact %></p>
                  <%= link_to "Book a Consultation" , new_consultation_path(doctor_profile_id: doctor.id), class: "btn btn-primary" %>
                </div>
              <% end %>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div class="col-md-10 col-md-offset-1 text-center">
      <h6>Coded with <i class="fa fa-heart red"></i> by <a href="https://parasaro92.github.io" target="_blank">Paras </a> <a href="http://venkatramanc.github.io" target="_blank"> and Venkat </a></h6>
    </div>   
  </div>
</footer>