<h2>Edit your profile</h2>
<%= simple_form_for @doctor_profile do |f|%>
<%= f.hidden_field :name, :value => @name %>
  <%= f.input :age%>
  <%= f.input :qualification%>
  <%= f.input :contact%>
  <%= f.submit %>
<% end %>
